/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular.woff") format('woff'), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular.ttf") format('truetype'), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold.woff") format('woff'), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold.ttf") format('truetype'), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold") format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium.woff") format('woff'), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium.ttf") format('truetype'), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium") format('svg');
  font-weight: 600;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 56%;
}
body {
  min-width: 1280px;
  height: 100%;
  min-height: 100%;
  background: #f9fbfc;
  font-family: 'PFSquareSansPro', sans-serif;
  line-height: 1.4;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  width: auto 9;
}
textarea {
  resize: vertical;
}
input::-webkit-input-placeholder {
  text-overflow: ellipsis;
  color: inherit;
}
input:-moz-placeholder {
  text-overflow: ellipsis;
  color: inherit;
}
input::-moz-placeholder {
  text-overflow: ellipsis;
  color: inherit;
}
input:-ms-input-placeholder {
  text-overflow: ellipsis;
  color: inherit;
}
input.placeholder {
  text-overflow: ellipsis;
  color: inherit;
}
button,
input,
textarea {
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 16px;
  color: #666;
  border-radius: 4px;
  height: 25px;
  line-height: 24px;
  font-family: inherit;
}
.b-page {
  position: relative;
  padding: 60px;
  padding: 3.75rem;
  width: 1060px;
  width: 66.25rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.b-page__line {
  position: absolute;
  background: url("../img/b-page__line.png") repeat-y;
  width: 4px;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.b-page__logo {
  position: absolute;
  top: 60px;
  top: 3.75rem;
  width: 363px;
  width: 22.6875rem;
}
.b-page:only-child:before {
  content: '';
  position: absolute;
  width: 1060px;
  width: 66.25rem;
  height: 1060px;
  height: 66.25rem;
  background: #f0f5fa;
  left: 0;
  border-radius: 50%;
}
.b-page:not(:only-child) {
  float: left;
}
.b-page:not(:only-child):after {
  content: '';
  position: absolute;
  width: 536px;
  width: 33.5rem;
  z-index: 99;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}
.b-page:not(:only-child):nth-child(1):after {
  right: 0;
  background-image: url("../img/b-page__shadow_left.png");
}
.b-page:not(:only-child):nth-child(2):after {
  left: 0;
  background-image: url("../img/b-page__shadow_right.png");
}
.b-about-page {
  color: #ca2032;
  text-align: right;
}
.b-about-page__heading,
.b-about-page__text {
  position: relative;
  z-index: 1;
}
.b-about-page:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #f0f5fa;
  z-index: 1;
  width: 1690px;
  width: 105.625rem;
  height: 1690px;
  height: 105.625rem;
  bottom: -1080px;
  bottom: -67.5rem;
  left: 770px;
  left: 48.125rem;
}
.b-about-page__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 906px;
  width: 56.625rem;
}
.b-about-page__heading {
  color: #ca2032;
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}
.b-about-page__heading:after {
  content: '';
  display: block;
  margin: 42px 16px 0 auto;
  margin: 2.625rem 1rem 0 auto;
  width: 78px;
  width: 4.875rem;
  height: 5px;
  height: 0.3125rem;
  background: #ca2032;
}
.b-about-page__text {
  color: #333739;
  line-height: 1.4;
  font-size: 28px;
  font-size: 1.75rem;
}
.b-catalog-page__header {
  position: relative;
  padding: 12px 68px 0;
  padding: 0.75rem 4.25rem 0;
  font-size: 24px;
  font-size: 1.5rem;
  color: #5f666a;
}
.b-catalog-page__header strong {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.b-catalog-page__header .b-mark {
  top: -25px;
  top: -1.5625rem;
}
.b-catalog-page:nth-child(1) .b-catalog-page__header .b-mark {
  left: -120px;
  left: -7.5rem;
}
.b-catalog-page:nth-child(2) .b-catalog-page__header {
  text-align: right;
}
.b-catalog-page:nth-child(2) .b-catalog-page__header .b-mark {
  right: -120px;
  right: -7.5rem;
}
.b-catalog-page__item {
  float: left;
  margin: 68px 75px;
  margin: 4.25rem 4.6875rem;
}
.b-catalog-page__item:nth-child(2n):before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 320px;
  height: 20rem;
  background: #f0f5fa;
  z-index: 1;
}
.b-catalog-page__list:before,
.b-catalog-page__list:after {
  content: " ";
  display: table;
}
.b-catalog-page__list:after {
  clear: both;
}
.b-catalog {
  text-align: center;
  padding: 100px 10px;
  height: 100%;
  overflow: auto;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.b-catalog:before,
.b-catalog:after {
  content: " ";
  display: table;
}
.b-catalog:after {
  clear: both;
}
.b-catalog__wrapper {
  position: relative;
  display: inline-block;
  outline: 1px solid rgba(24,24,25,0.1);
  text-align: left;
  height: 100%;
  background: #fff;
  height: 1540px;
  height: 96.25rem;
}
.b-catalog:not(._both) .b-catalog__wrapper {
  width: 1060px;
  width: 66.25rem;
  box-shadow: 0 14px 20px rgba(26,33,37,0.2), 0 0 185px rgba(26,33,37,0.2);
}
.b-catalog._both .b-catalog__wrapper {
  width: 2120px;
  width: 132.5rem;
}
.b-catalog._both .b-catalog__wrapper:before,
.b-catalog._both .b-catalog__wrapper:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: -1px;
}
.b-catalog._both .b-catalog__wrapper:before {
  background-image: url("../img/b-catalog__pages.png");
  z-index: -1;
  bottom: -1px;
  left: -13px;
  left: -0.8125rem;
  right: -13px;
  right: -0.8125rem;
}
.b-catalog._both .b-catalog__wrapper:after {
  background-image: url("../img/b-catalog__shadow.png");
  z-index: -2;
  top: -132px;
  top: -8.25rem;
  bottom: -103px;
  bottom: -6.4375rem;
  left: -34px;
  left: -2.125rem;
  right: -34px;
  right: -2.125rem;
}
.b-contents-page {
  color: #333739;
}
.b-contents-page__heading,
.b-contents-page__sub-heading,
.b-contents-page__list {
  position: relative;
  z-index: 1;
}
.b-contents-page:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #f0f5fa;
  width: 1690px;
  width: 105.625rem;
  height: 1690px;
  height: 105.625rem;
}
.b-contents-page:nth-child(1):before {
  bottom: -1080px;
  bottom: -67.5rem;
  left: 770px;
  left: 48.125rem;
}
.b-contents-page:nth-child(2):before {
  bottom: -1080px;
  bottom: -67.5rem;
  left: -289px;
  left: -18.0625rem;
}
.b-contents-page__heading {
  font-size: 60px;
  font-size: 3.75rem;
  margin-bottom: 130px;
  margin-bottom: 8.125rem;
  line-height: 1.1;
}
.b-contents-page__sub-heading {
  position: relative;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  text-transform: uppercase;
}
.b-contents-page__sub-heading .b-mark {
  top: -45px;
  top: -2.8125rem;
  right: -120px;
  right: -7.5rem;
}
.b-contents-page__list {
  color: #5f666a;
  font-size: 28px;
  font-size: 1.75rem;
}
.b-contents-page__list li {
  padding-left: 42px;
  padding-left: 2.625rem;
  margin: 5px 0;
  margin: 0.3125rem 0;
}
.b-contents-page__list span {
  float: right;
  font-size: 24px;
  font-size: 1.5rem;
  padding: 2px 0;
  padding: 0.125rem 0;
}
.b-contents-page__list + .b-contents-page__sub-heading {
  margin-top: 90px;
  margin-top: 5.625rem;
}
.b-first-page {
  padding-top: 280px;
  padding-top: 17.5rem;
}
.b-first-page:before {
  top: -530px;
  top: -33.125rem;
}
.b-first-page .b-page__logo {
  right: 0;
}
.b-first-page .b-page__line {
  left: 32px;
  left: 2rem;
}
.b-first-page__heading {
  position: relative;
  z-index: 1;
  font-size: 155px;
  font-size: 9.6875rem;
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
  font-weight: bold;
  line-height: 0.78;
  text-transform: uppercase;
}
.b-first-page__heading:after {
  content: '';
  display: block;
  margin-top: 55px;
  margin-top: 3.4375rem;
  width: 78px;
  width: 4.875rem;
  height: 5px;
  height: 0.3125rem;
  background: #000;
}
.b-first-page__list {
  position: relative;
  z-index: 1;
  font-size: 28px;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #333739;
}
.b-first-page__list li {
  margin: 5px 0;
  margin: 0.3125rem 0;
}
.b-first-page__image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-header {
  background: #a4aeb5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  height: 60px;
  font-size: 16px;
  z-index: 999;
}
.b-header__logo {
  height: 100%;
}
.b-header .container {
  width: 706.6666666666666px;
  margin: 0 auto;
  height: 100%;
}
.b-header__zoom,
.b-header__controls,
.b-header__actions,
.b-header__logo,
.b-header__contents,
.b-header__zoom a,
.b-header__controls a,
.b-header__actions a,
.b-header__logo a,
.b-header__contents a,
.b-header__zoom input,
.b-header__controls input,
.b-header__actions input,
.b-header__logo input,
.b-header__contents input {
  display: inline-block;
  vertical-align: middle;
}
.b-header__controls,
.b-header__zoom,
.b-header__actions {
  margin: 0 -10px;
}
.b-header__controls a,
.b-header__zoom a,
.b-header__actions a,
.b-header__controls input,
.b-header__zoom input,
.b-header__actions input {
  margin: 0 10px;
}
.b-header__contents {
  background-image: url("../img/sprite.png");
  background-position: -131px -114px;
  width: 22px;
  height: 15.333333333333334px;
  background-size: 246px 260px;
  margin-left: 45px;
}
.b-header__controls {
  margin-left: 45px;
}
.b-header__controls .input {
  text-align: center;
  width: 45px;
}
.b-header__zoom {
  margin-left: 45px;
}
.b-header__actions {
  margin-left: 45px;
}
.b-header__next-page {
  background-image: url("../img/sprite.png");
  background-position: -216px -28px;
  width: 10px;
  height: 18.666666666666668px;
  background-size: 246px 260px;
}
.b-header__last-page {
  background-image: url("../img/sprite.png");
  background-position: -163px -85px;
  width: 16.666666666666668px;
  height: 18.666666666666668px;
  background-size: 246px 260px;
}
.b-header__prev-page {
  background-image: url("../img/sprite.png");
  background-position: -236px 0px;
  width: 10px;
  height: 18px;
  background-size: 246px 260px;
}
.b-header__first-page {
  background-image: url("../img/sprite.png");
  background-position: -190px -57px;
  width: 16.666666666666668px;
  height: 18px;
  background-size: 246px 260px;
}
.b-header__zoom-plus {
  background-image: url("../img/sprite.png");
  background-position: 0px -236px;
  width: 24px;
  height: 24px;
  background-size: 246px 260px;
}
.b-header__zoom-minus {
  background-image: url("../img/sprite.png");
  background-position: -34px -202px;
  width: 24px;
  height: 24px;
  background-size: 246px 260px;
}
.b-header__download {
  background-image: url("../img/sprite.png");
  background-position: -101px -139px;
  width: 20px;
  height: 21.333333333333332px;
  background-size: 246px 260px;
}
.b-header__print {
  background-image: url("../img/sprite.png");
  background-position: -68px -170px;
  width: 22.666666666666668px;
  height: 22px;
  background-size: 246px 260px;
}
.b-last-page {
  background-image: url("../img/b-last-page.jpg");
  padding-top: 310px;
  padding-top: 19.375rem;
}
.b-last-page:before {
  bottom: -545px;
  bottom: -34.0625rem;
}
.b-last-page .b-page__logo {
  left: 0;
}
.b-last-page .b-page__line {
  right: 32px;
  right: 2rem;
}
.b-last-page__heading,
.b-last-page__footer {
  position: relative;
  z-index: 1;
}
.b-last-page__heading {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ca2032;
  line-height: 1;
}
.b-last-page__footer {
  position: absolute;
  bottom: 60px;
  bottom: 3.75rem;
  left: 60px;
  left: 3.75rem;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.5;
}
.b-last-page__footer p {
  color: #333739;
  text-transform: uppercase;
}
.b-last-page__footer p + p {
  margin-top: 40px;
  margin-top: 2.5rem;
}
.b-last-page__footer a {
  color: #ca2032;
}
.b-mark {
  position: absolute;
  width: 120px;
  width: 7.5rem;
  height: 120px;
  height: 7.5rem;
  border-radius: 50%;
}
.b-mark_red {
  background: #ca2032;
}
.b-mark_orange {
  background: #f60;
}
.b-mark_yellow {
  background: #fc0;
}
.b-preview-page {
  color: #fff;
  padding-top: 220px;
  padding-top: 13.75rem;
  background: #ca2032;
}
.b-preview-page:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -60px;
  margin-top: -3.75rem;
  left: -30px;
  left: -1.875rem;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  border-radius: 50%;
  background: #e4e9ee;
}
.b-preview-page__heading {
  font-size: 120px;
  font-size: 7.5rem;
  margin-bottom: 72px;
  margin-bottom: 4.5rem;
  line-height: 0.82;
}
.b-preview-page__heading:after {
  content: '';
  display: block;
  margin-top: 36px;
  margin-top: 2.25rem;
  width: 78px;
  width: 4.875rem;
  height: 5px;
  height: 0.3125rem;
  background: #fff;
}
.b-preview-page__list {
  font-size: 30px;
  font-size: 1.875rem;
}
.b-preview-page__list li {
  margin: 22px 0;
  margin: 1.375rem 0;
}
.b-product-preview {
  font-size: 24px;
  font-size: 1.5rem;
  width: 320px;
  width: 20rem;
}
.b-product-preview__image {
  display: block;
  position: relative;
  z-index: 2;
}
.b-product-preview__sku,
.b-product-preview__price {
  margin-top: 11px;
  margin-top: 0.6875rem;
}
.b-product-preview__name {
  margin-top: 20px;
  margin-top: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ca2032;
}
.b-product-preview__sku {
  color: #5f666a;
}
.b-product-preview__price {
  font-size: 48px;
  font-size: 3rem;
}
.print {
  font-size: 100% !important;
}
.print .b-header {
  display: none;
}
.print .b-catalog {
  padding: 0;
}
.print .b-catalog__wrapper {
  display: block;
  box-shadow: none !important;
  border: 0 !important;
}
.print .b-catalog__wrapper:before,
.print .b-catalog__wrapper:after {
  display: none;
}
